<br>
<br>
<h4>details component</h4>
<div class="container">
    <!-- <ng-container *ngFor="let proj of projectsData"> -->
    <div class="card " style="">
        <!-- <div *ngIf=" proj.id==routeId " class="card " style=""> -->
        <div class="card-body ">
            <h4 class="card-title ">Id: {{projectsData.id}}</h4>
            <h4 class="card-title ">Project Name: {{projectsData.name}}</h4>
            <!-- <p class="card-text ">Project status: {{projectsData.status}}</p> -->
        </div>
        <br>

    </div>
    <div class="card " style="">
        <div class="card " style="">
            <div class="card-body ">
                <h4 class="card-title ">Id: {{jsonPlaceholder.id}}</h4>
                <h4 class="card-title ">Title: {{jsonPlaceholder.title}}</h4>
                <p class="card-title ">Body: {{jsonPlaceholder.body}}</p>
            </div>
            <br>

        </div>
        <!-- 
        <div class="card " style="">
            <div class="card-body ">
                <h4 class="card-title ">Id: {{apiData.id}}</h4>
                <h4 class="card-title ">Name Name: {{apiData.login}}</h4>
            </div>
            <br>

        </div> -->
        <!-- </ng-container> -->

    </div>