<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <div class="row">
    <div class="col-md-2">

      <div id="MainMenu">
        <div class="list-group panel">
          <a routerLink="" class="list-group-item list-group-item-success" data-parent="#MainMenu">Home</a>
          <!-- <a routerLinkActive="active" routerLink="/abc" class="list-group-item list-group-item-success" data-parent="#MainMenu">ABC</a>
          <a routerLinkActive="active" routerLink="/xyz" class="list-group-item list-group-item-success" data-parent="#MainMenu">XYZ</a>
          <a routerLinkActive="active" routerLink="/brandnew" class="list-group-item list-group-item-success" data-parent="#MainMenu">BrandNew</a>
          <a routerLinkActive="active" routerLink="/child" class="list-group-item list-group-item-success" data-parent="#MainMenu">Child</a> -->
          <a routerLink="/projects" class="list-group-item list-group-item-success" data-parent="#MainMenu">Projects</a>
          <a routerLink="/lazy" class="list-group-item list-group-item-success" data-parent="#MainMenu">Lazy Component / Module</a>
          <a routerLink="/example" class="list-group-item list-group-item-success" data-parent="#MainMenu">Example Component / Module</a>



        </div>
      </div>
    </div>

    <div>

      {{time}}
    </div>
    <div class="col-md-10">
      <!-- <h1>
        This is The Home Page
      </h1> -->
      <router-outlet></router-outlet>
    </div>
  </div>